

// colors 
$bg-white: white;
$bg-header: #21323E;
$bg-section-excellence: #EEF4EC;
$bg-section-company: #EEF4EC;
$bg-section-results: #111118;
$bg-footer: #111118;

// measures 
$w-100: 100%;
$h-100: 100%;
