// variables 
@use "./partials/variables";


// bootstrap 
@import "bootstrap/scss/bootstrap";


// general 
body {
  font-family: 'Roboto', sans-serif;
}

.debug {
  background-color: rgb(241, 198, 198);
  border: 1px solid black;
  min-height: 40px;
}

// utilities 
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.relative {
  position: relative;
}

.space-betw {
  justify-content: space-between;
}

// buttons 
.btn_green {
  padding: 11px 20px;
  background-color: #068283;
  color: white;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

.btn_white {
  padding: 10px 20px;
  border: 2px solid #068283;
  color: #068283;
  margin: 10px;
  border-radius: 5px;
}